In [ ]:
import requests
import json
import pandas as pd
import numpy as np
import random
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('/content/drive/Shareddrives/Brillante Workspace/ML Corner/Dataset/taxi_dataset_KWB.csv')
df.describe(include='all')

              id  driver_id        pickuptime  ...  routes     ket_start     ket_end
count   20.00000  20.000000                20  ...     0.0            20          20
unique       NaN        NaN                13  ...     NaN            19          17
top          NaN        NaN  19-05-2021 07:00  ...     NaN  SMA N 1 Batu  among tani
freq         NaN        NaN                 4  ...     NaN             2           3
mean    10.50000  24.050000               NaN  ...     NaN           NaN         NaN
std      5.91608  15.150039               NaN  ...     NaN           NaN         NaN
min      1.00000   6.000000               NaN  ...     NaN           NaN         NaN
25%      5.75000  10.750000               NaN  ...     NaN           NaN         NaN
50%     10.50000  19.000000               NaN  ...     NaN           NaN         NaN
75%     15.25000  37.500000               NaN  ...     NaN           NaN         NaN
max     20.00000  49.000000               NaN  ...     NaN           NaN         NaN

[11 rows x 10 columns]

In [ ]:
df

    id  driver_id        pickuptime  ...  routes         ket_start           ket_end
0    1         19  19-05-2021 07:00  ...     NaN            pendem        among tani
1    2         12  19-05-2021 06.30  ...     NaN         giripurno      SMA N 1 Batu
2    3         29  19-05-2021 07:00  ...     NaN             sisir  pascasarjana UIN
3    4          9  19-05-2021 07:30  ...     NaN           pokopek                UB
4    5         11  19-05-2021 07:45  ...     NaN               Dau     Museum Angkut
5    6         13  19-05-2021 07:15  ...     NaN         sumberejo        wonderland
6    7         22  19-05-2021 08:00  ...     NaN            Punten        among tani
7    8         10  19-05-2021 07:00  ...     NaN           Bumiaji               UMM
8    9         35  19-05-2021 07:45  ...     NaN      Pesanggrahan        Balijestro
9   10         37  19-05-2021 07:00  ...     NaN      Wukir, temas       Krematorium
10  11         10  19-05-2021 07:15  ...     NaN           Junrejo      SMA N 1 Batu
11  12         19  19-05-2021 08:30  ...     NaN            Pendem         RSUD Batu
12  13         17  19-05-2021 09:30  ...     NaN             Diran        among tani
13  14         42  19-05-2021 16:00  ...     NaN      SMA N 1 Batu           Junrejo
14  15          6  19-05-2021 15:30  ...     NaN      SMA N 1 Batu         giripurno
15  16         39  19-05-2021 16:45  ...     NaN       Krematorium      Wukir, temas
16  17          7  19-05-2021 17:00  ...     NaN        among tani             Diran
17  18         49  19-05-2021 15:45  ...     NaN  pascasarjana UIN             sisir
18  19         47  19-05-2021 15:30  ...     NaN        Balijestro      Pesanggrahan
19  20         48  19-05-2021 16:00  ...     NaN     Museum Angkut               Dau

[20 rows x 10 columns]

In [ ]:
def filtering_dataset(dataframe):
  selected_ft = ['driver_id', 'pickuptime', 'start_lat', 'start_long',
                 'end_lat', 'end_long']
  dataframe = dataframe[selected_ft]
  return dataframe

In [ ]:
dfs = filtering_dataset(df)
dfs.loc[7, 'end_long'] = 112.587923
dfs

    driver_id        pickuptime  start_lat  start_long   end_lat    end_long
0          19  19-05-2021 07:00  -7.893189  112.576620 -7.866979  112.511189
1          12  19-05-2021 06.30  -7.865714  112.555438 -7.878440  112.527121
2          29  19-05-2021 07:00  -7.868246  112.526869 -7.904076  112.565180
3           9  19-05-2021 07:30  -7.890602  112.537934 -7.952293  112.612813
4          11  19-05-2021 07:45  -7.916181  112.583958 -7.882215  112.511487
5          13  19-05-2021 07:15  -7.861497  112.508470 -7.879957  112.531150
6          22  19-05-2021 08:00  -7.834043  112.528245 -7.866979  112.511189
7          10  19-05-2021 07:00  -7.854332  112.526352 -7.925165  112.587923
8          35  19-05-2021 07:45  -7.869237  112.509902 -7.899685  112.533016
9          37  19-05-2021 07:00  -7.879706  112.539196 -7.910102  112.559109
10         10  19-05-2021 07:15  -7.907957  112.551115 -7.878440  112.527121
11         19  19-05-2021 08:30  -7.893652  112.578221 -7.874160  112.520271
12         17  19-05-2021 09:30  -7.877282  112.527767 -7.866979  112.511189
13         42  19-05-2021 16:00  -7.878440  112.527121 -7.907957  112.551115
14          6  19-05-2021 15:30  -7.878440  112.527121 -7.865714  112.555438
15         39  19-05-2021 16:45  -7.910102  112.559109 -7.879706  112.539196
16          7  19-05-2021 17:00  -7.866979  112.511189 -7.877282  112.527767
17         49  19-05-2021 15:45  -7.904076  112.565180 -7.868246  112.526869
18         47  19-05-2021 15:30  -7.899685  112.533016 -7.869237  112.509902
19         48  19-05-2021 16:00  -7.882215  112.511487 -7.916181  112.583958

In [ ]:
def route_parsing(data):
  
  routes = data['routes'][0]['legs'][0]['steps']

  lat_routes = []
  long_routes = []

  for route in routes:
    lat_start = route['start_location']['lat']
    long_start = route['start_location']['lng']
    lat_end = route['end_location']['lat']
    long_end = route['end_location']['lng']

    if lat_start not in lat_routes:
      lat_routes.append(lat_start)
    if long_start not in long_routes:
      long_routes.append(long_start)
    if lat_end not in lat_routes:
      lat_routes.append(lat_end)
    if long_end not in long_routes:
      long_routes.append(long_end)
  
  routes_pair = [[lat_routes[i], long_routes[i]] for i in range(len(lat_routes))]
  return routes_pair

In [ ]:
def get_routes(dataframe, API_KEY):
  df = dataframe.copy()

  for i in range(len(df)):
    start_lat = df.loc[i,'start_lat']
    start_long = df.loc[i,'start_long']
    end_lat = df.loc[i,'end_lat']
    end_long = df.loc[i,'end_long']

    # request data from Direction API
    response = requests.get(f'https://maps.googleapis.com/maps/api/directions/json?origin={start_lat},{start_long}&destination={end_lat},{end_long}&key={API_KEY}')
    data = response.json()
    # parse response to get routes data
    routes = route_parsing(data)
    # change list to string
    routes = json.dumps(routes)
    # pop data to dataframe
    df.loc[i, 'routes'] = routes
    # debuging data
    print(f'Data {i} done!')
  return df

In [ ]:
API_KEY = '[API KEY]'
driver_dump = get_routes(dfs, API_KEY)
driver_dump

Data 0 done!
Data 1 done!
Data 2 done!
Data 3 done!
Data 4 done!
Data 5 done!
Data 6 done!
Data 7 done!
Data 8 done!
Data 9 done!
Data 10 done!
Data 11 done!
Data 12 done!
Data 13 done!
Data 14 done!
Data 15 done!
Data 16 done!
Data 17 done!
Data 18 done!
Data 19 done!

    driver_id  ...                                             routes
0          19  ...  [[-7.8927323, 112.5767376], [-7.8926213, 112.5...
1          12  ...  [[-7.865687899999999, 112.5553653], [-7.864676...
2          29  ...  [[-7.868244199999999, 112.5268463], [-7.868492...
3           9  ...  [[-7.890659699999999, 112.5379368], [-7.890700...
4          11  ...  [[-7.9161186, 112.5838508], [-7.91579580000000...
5          13  ...  [[-7.862087499999999, 112.5083638], [-7.862186...
6          22  ...  [[-7.834021300000001, 112.5285001], [-7.835748...
7          10  ...  [[-7.854327499999999, 112.5263389], [-7.853611...
8          35  ...  [[-7.8692712, 112.5099041], [-7.8692561, 112.5...
9          37  ...  [[-7.8796909, 112.5390926], [-7.8794179, 112.5...
10         10  ...  [[-7.9077267, 112.5511591], [-7.9076465, 112.5...
11         19  ...  [[-7.893488899999999, 112.5781829], [-7.892989...
12         17  ...  [[-7.8773304, 112.5278592], [-7.87084489999999...
13         42  ...  [[-7.878459599999998, 112.5271189], [-7.878575...
14          6  ...  [[-7.878459599999998, 112.5271189], [-7.878575...
15         39  ...  [[-7.9106272, 112.5589775], [-7.9106193, 112.5...
16          7  ...  [[-7.867053099999999, 112.5111369], [-7.866624...
17         49  ...  [[-7.903997599999999, 112.5649483], [-7.903711...
18         47  ...  [[-7.8998309, 112.5329312], [-7.8997174, 112.5...
19         48  ...  [[-7.8822757, 112.5118662], [-7.88240659999999...

[20 rows x 7 columns]

In [ ]:
# driver_dump.to_csv('/content/drive/Shareddrives/Brillante Workspace/ML Corner/Dataset/kotlite_dataset/kotlite_driver_dataset.csv', index=False, header=True)
# passanger_dump.to_csv('/content/drive/Shareddrives/Brillante Workspace/ML Corner/Dataset/kotlite_dataset/kotlite_passanger_dataset.csv', index=False, header=True)

In [ ]:
driver_dump.to_csv('/content/drive/Shareddrives/Brillante Workspace/ML Corner/Dataset/kotlite_dataset/kotlite_driver_dataset_KWB.csv', index=False, header=True)

In [ ]:
driver_dump['ket_start'] = df['ket_start']
driver_dump['ket_end'] = df['ket_end']
driver_dump

    driver_id        pickuptime  ...         ket_start           ket_end
0          19  19-05-2021 07:00  ...            pendem        among tani
1          12  19-05-2021 06.30  ...         giripurno      SMA N 1 Batu
2          29  19-05-2021 07:00  ...             sisir  pascasarjana UIN
3           9  19-05-2021 07:30  ...           pokopek                UB
4          11  19-05-2021 07:45  ...               Dau     Museum Angkut
5          13  19-05-2021 07:15  ...         sumberejo        wonderland
6          22  19-05-2021 08:00  ...            Punten        among tani
7          10  19-05-2021 07:00  ...           Bumiaji               UMM
8          35  19-05-2021 07:45  ...      Pesanggrahan        Balijestro
9          37  19-05-2021 07:00  ...      Wukir, temas       Krematorium
10         10  19-05-2021 07:15  ...           Junrejo      SMA N 1 Batu
11         19  19-05-2021 08:30  ...            Pendem         RSUD Batu
12         17  19-05-2021 09:30  ...             Diran        among tani
13         42  19-05-2021 16:00  ...      SMA N 1 Batu           Junrejo
14          6  19-05-2021 15:30  ...      SMA N 1 Batu         giripurno
15         39  19-05-2021 16:45  ...       Krematorium      Wukir, temas
16          7  19-05-2021 17:00  ...        among tani             Diran
17         49  19-05-2021 15:45  ...  pascasarjana UIN             sisir
18         47  19-05-2021 15:30  ...        Balijestro      Pesanggrahan
19         48  19-05-2021 16:00  ...     Museum Angkut               Dau

[20 rows x 9 columns]

In [ ]:
driver_dump.to_csv('/content/drive/Shareddrives/Brillante Workspace/ML Corner/Dataset/kotlite_dataset/kotlite_driver_dataset_KWB_with_ket.csv', index=False, header=True)